.allprojectfraction {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
  position: relative;
}

.allprojectfraction::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
  overflow: hidden;
  height: 50%;
  cursor: pointer;
}

.allprojectfraction::-webkit-scrollbar-thumb {
  background-color: #80808036;
  border-radius: 10px;
  cursor: pointer;
}

.allprojectfraction::-webkit-scrollbar-thumb:hover {
  background-color: #80808057;
}

.allprojectfraction .allprojects {
  width: 90%;
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-columns: (minmax(250px, 300px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 5%;
}

.allprojectfraction .allprojects::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
  overflow: hidden;
  height: 50%;
  cursor: pointer;
}

.allprojectfraction .allprojects::-webkit-scrollbar-thumb {
  background-color: #8080801a;
  border-radius: 10px;
  cursor: pointer;
}

.allprojectfraction .allprojects::-webkit-scrollbar-thumb:hover {
  background-color: #80808057;
}

@media screen and (max-width: 620px) {
  .allprojectfraction .allprojects {
    height: 100vh;
    width: 96%;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    overflow-y: auto;
  }
  .allprojectfraction .allprojects::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3rem;
    overflow: hidden;
    height: 50%;
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .allprojectfraction .allprojects {
    -ms-grid-columns: (minmax(220px, 300px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  }
}

.allprojectfraction .moreinfo {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(8, 17, 26, 0.375);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.allprojectfraction .moreinfo .infocont {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.allprojectfraction .moreinfo .infocont .icon {
  background-color: #bdbdbd63;
  border-radius: 10px;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  margin-bottom: 0.4rem;
  font-weight: 900;
}

.allprojectfraction .moreinfo .infocont .infocont-inner {
  padding: 3rem 1%;
  border-radius: 10px;
  width: 80%;
  height: 70%;
  background-color: aliceblue;
  color: #0F152D;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .projectimage {
  width: 40%;
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  margin: auto;
  display: block;
}

@media screen and (max-width: 620px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner .projectimage {
    margin-bottom: 2%;
    width: 90%;
  }
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side {
  width: 57%;
  background-color: aliceblue;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side h3 {
  margin: 0.3rem 0;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto a {
  text-decoration: none;
  width: 45%;
  max-width: 300px;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto a .link {
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border-radius: 6px;
  color: #cdd5f2;
  background-color: #0F152D;
  border: 1.6px solid transparent;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto a .link .icons {
  position: relative;
  top: 2.5px;
  left: 5px;
}

.allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto a .link:hover {
  background-color: #fff;
  border-color: #0F152D;
  color: #0F152D;
  font-size: larger;
}

@media screen and (max-width: 500px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto a .link {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto a {
    width: 88%;
    max-width: none;
    margin-bottom: 0.24rem;
  }
}

@media screen and (max-width: 620px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner .side .linkto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: 10rem;
  }
}

@media screen and (max-width: 620px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner .side {
    width: 99%;
    height: auto;
    padding-left: 1%;
  }
}

@media screen and (max-width: 840px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner {
    width: 95%;
  }
}

@media screen and (max-width: 620px) {
  .allprojectfraction .moreinfo .infocont .infocont-inner {
    display: block;
    padding-top: 1rem;
    padding: 1%;
    width: 95%;
    max-height: 90%;
    height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .allprojectfraction .moreinfo .infocont {
    height: 700px;
  }
}
/*# sourceMappingURL=Allprojects.css.map */