@import url('https://api.fontshare.com/css?f[]=clash-display@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body{
    font-family: 'Clash Display', sans-serif;
    background-color: #0F152D;
    color: #ffffff;
}
.App{
    overflow: hidden;
    width: 100%;
    position: relative;
    max-width: 1600px;
    margin: auto;
}

#asset3{
    position: absolute;
    display: block;
    z-index: -3;
    top: -10%;
    right: -3%;
    

}
#asset4{
    position: absolute;
    display: block;
    z-index: -3;
    left: -7%;
    top: 46%;
    opacity: 90%;
}

@media screen and (min-width: 1300px) {
    #asset4{

        width: 25em;
        height: 25em;
        opacity: 60%;
        left: -2rem;
        top: 60%;
    }
}
@media screen and (max-width: 750px) {
    #asset4{

        width: 15em;
        height: 15em;
        opacity: 60%;
        left: -5rem;
        top: 65%;
    }
}
@media screen and (max-width: 350px) {
    #asset4{

        width: 10em;
        height: 10em;
        left: -3.5rem;
    }

}
.projects{
    width: 100%;
}
.projects .headingM{
    margin-left: 10%;
}
.projects .projects-cont{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(250px, 380px));
    align-content: center;
    justify-content: space-evenly;
    
}
.projects .projects-cont .project{
    border-top: 3px solid #cdd5f2;
    margin-bottom: 1rem;    
}
.projects .projects-cont .project .viewLive{
    float: right;
    display: flex;
    transition: 0.3s all ease;
    font-size: 100;
    letter-spacing: 0.04em;
    align-items: center;
    padding: 0.4rem 0;
}
.projects .projects-cont .project .viewLive .icon{
    cursor: pointer;
    font-size: 66px;
    margin-left: 10px;
}
.projects .projects-cont .project img{
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

.namecont{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 0.3%;
    font-weight:bold;
    margin-top: 2%;
    letter-spacing: 0.04em;
}
.namecont .stack{
    font-weight: 100;
    letter-spacing: 0.01em;
}
.scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.3rem;
    flex-direction: column;
    font-size: 2rem;
}
.scroll p {
    font-size: 1.5rem;
}
.headingM{
    margin: 2rem 0 2rem 0;
    font-size: 6.5rem;
    font-weight: 1000;
    letter-spacing: 2.6px;
    color: #2c396d;
}
.vap{
    text-decoration: underline;
    font-size: 5rem;
    width: fit-content !important;
    cursor: pointer;
    text-underline-offset: 10px;
    color: #1c254d;
    animation: highlight 2s ease infinite;
    transition: 0.3s all ease;
}
.vap a {
    text-decoration: none;
    color: inherit;
}
@keyframes highlight {
    0%{
        color: #19203D;
    }
    50%{
        color: #203074;
    }
    100%{
        color: #19203D;
    }
}
@keyframes highlight2 {
    0%{
        color: #19203D;
    }
    100%{
        color: #cdd5f2;
    }
}
.vap:hover{
    color: #cdd5f2;
    animation: highlight2 1s ease 1;

}
@media screen and (max-width: 636px) {
    .headingM{
        font-size: 5.5rem;

    }
    .vap{
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 524px) {
    .headingM{
        font-size: 4.75rem;

    }
    .vap{
        font-size: 4.25rem;
    }
}
@media screen and (max-width: 470px) {
    .headingM{
        font-size: 4rem;

    }
    .vap{
        font-size: 3.85rem;
    }
}
@media screen and (max-width: 386px) {
    .headingM{
        font-size: 3rem;

    }
    .namecont .stack{
        width: 100%;
        margin-top: 0.2rem;
    }
}
@media screen and (max-width: 306px) {
    .headingM{
        font-size: 2.2rem;

    }
}